/*--------------------------------------------------------------
## Color Variable
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000;
$primary: #4D4D4D;
$secondary: rgba($primary, 0.52);
$ternary: #351205;
$border: #eaeaea;
$gray: #fafafa;
$accent: #ECB49D;
